<div class="container">
    <div class="d-flex justify-content-center ">
        <h2>Liste Des Habitants</h2>
    </div>
    <nav class="navbar justify-content-end" >
        <button routerLink="/ajouteHabitant" class="btn btn-primary rounded-pill mx-3" >
          <i class="bi bi-person-plus-fill"></i> Add Habitant
        </button>
      </nav>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Telephone</th>
            <th scope="col">Mail</th>
            <th scope="col">Profession</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let h of lesHabitants">
            <th scope="row">{{h.id}}</th>
            <td>{{h.nom}}</td>
            <td>{{h.prenom}}</td>
            <td>{{h.telephone}}</td>
            <td>{{h.mail}}</td>
            <td>{{h.profession}}</td>
            <td>
                <button  class="btn btn-warning" routerLink="/modifierHabitant/{{h.id}}"> <i class="bi bi-pen-fill"></i> Modifier</button>
                <button class="btn btn-danger" (click)="supprimer(h.id)"> <i class="bi bi-trash3"></i>Supprime</button>
            </td>
         
          </tr>
        </tbody>
      </table>
      
</div>

