h2{
    font-family: 'Nunito';
    font-size: 30px;
    padding-left: 15px;
    border: 5px solid red;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
}
.example-card {
 margin-left: 13%;
margin-right: 13%;
  margin-bottom: 4px;
  border-radius: 20px;
  background-color:gainsboro;
}
